<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
     	org.hibernate.dialect.PostgreSQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      org.postgresql.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:postgresql://localhost:5432/consultorio
   </property>
   <property name="hibernate.connection.username">
      postgres
   </property>
   <property name="hibernate.connection.password">
      123
   </property>
   
    <property name="connection_pool_size">1</property>

    <property name="hbm2ddl.auto">update</property>

    <property name="show_sql">true</property>

   <!-- List of Class mapping -->
 
    <mapping class="consultorio.modelo.Configuracion"/>
	<mapping class="consultorio.modelo.Doctor"/>
	<mapping class="consultorio.modelo.Funcionalidad"/>
	<mapping class="consultorio.modelo.Login"/>
	<mapping class="consultorio.modelo.Moneda"/>
	<mapping class="consultorio.modelo.Paciente"/>
	<mapping class="consultorio.modelo.Perfil"/>
	<mapping class="consultorio.modelo.Perfil_Funcionalidad"/>
	<mapping class="consultorio.modelo.Cambio"/>
	<mapping class="consultorio.modelo.Servicio"/>
	<mapping class="consultorio.modelo.Usuario"/>
	<mapping class="consultorio.modelo.Cita"/>
	<mapping class="consultorio.modelo.Productos"/>
	<mapping class="consultorio.modelo.Servcios_Productos"/>
	
</session-factory>
</hibernate-configuration>